Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

fix(registry): sync pulsating-button ripple css metadata
  apps/www/public/r/pulsating-button.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

fix(pulsating-button): simplify derived background syncing
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(pulsating-button): isolate pulse animation from button shadows
  .claude/settings.local.json
  .omc/project-memory.json
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(pulsating-button): normalize css and props table formatting
  .omc/project-memory.json
  .omc/state/hud-stdin-cache.json
  apps/www/content/docs/components/pulsating-button.mdx
  apps/www/styles/globals.css
Due: typecheck, lint:fix, format:fix:silent

chore: remove local claude/omc state files
  .claude/settings.local.json
  .omc/project-memory.json
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
Due: typecheck, lint:fix, format:fix:silent

docs(pulsating-button): normalize css and props table formatting
  apps/www/content/docs/components/pulsating-button.mdx
Due: none

fix(pulsating-button): avoid initial derived color flash
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat:pulsating button enhancement (#936)
  apps/www/content/docs/components/pulsating-button.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/pulsating-button-demo-2.json
  apps/www/public/r/pulsating-button.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/pulsating-button-demo-2.tsx
  apps/www/registry/magicui/pulsating-button.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(glare-hover): introduce Glare Hover component with demo examples
  .cursor/mcp.json
  apps/www/components/command-menu.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/glare-hover-demo-alert.json
  apps/www/public/r/glare-hover-demo-cta.json
  apps/www/public/r/glare-hover-demo.json
  apps/www/public/r/glare-hover.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/glare-hover-demo-alert.tsx
  apps/www/registry/example/glare-hover-demo-cta.tsx
  apps/www/registry/example/glare-hover-demo.tsx
  apps/www/registry/magicui/glare-hover.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(mcp): add shadcn server configuration for command execution
  .cursor/mcp.json
  apps/www/components/command-menu.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(glare-hover): allow pointer events through glare overlay
  .claude/settings.local.json
  .omc/project-memory.json
  .omc/sessions/e66ad0ca-9c97-4031-857e-fefa0bce9e16.json
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/glare-hover.json
  apps/www/registry/magicui/glare-hover.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(www): remove unused glare hover globals
  apps/www/styles/globals.css
Due: none

style(www): clean up extra whitespace in globals keyframes
  apps/www/styles/globals.css
Due: none

style(command-menu): sort imports with prettier
  apps/www/components/command-menu.tsx
Due: typecheck, lint:fix, format:fix:silent

chore: remove local tool state files from repo
  .claude/settings.local.json
  .gitignore
  .omc/project-memory.json
  .omc/sessions/e66ad0ca-9c97-4031-857e-fefa0bce9e16.json
  .omc/state/hud-state.json
  .omc/state/hud-stdin-cache.json
  .omc/state/idle-notif-cooldown.json
Due: typecheck, lint:fix, format:fix:silent

chore: drop cursor mcp newline-only diff
  .cursor/mcp.json
Due: typecheck, lint:fix, format:fix:silent

chore(www): restore globals.css to main formatting
  apps/www/styles/globals.css
Due: none

feat(glare-hover): introduce Glare Hover component with demo examples (#938)
  .gitignore
  apps/www/config/docs.ts
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/glare-hover-demo-alert.json
  apps/www/public/r/glare-hover-demo-cta.json
  apps/www/public/r/glare-hover-demo.json
  apps/www/public/r/glare-hover.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/glare-hover-demo-alert.tsx
  apps/www/registry/example/glare-hover-demo-cta.tsx
  apps/www/registry/example/glare-hover-demo.tsx
  apps/www/registry/magicui/glare-hover.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(hexagon-pattern): add hexagon pattern component with examples and documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/hexagon-pattern-dashed.json
  apps/www/public/r/hexagon-pattern-demo.json
  apps/www/public/r/hexagon-pattern-linear-gradient.json
  apps/www/public/r/hexagon-pattern-spacing.json
  apps/www/public/r/hexagon-pattern.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/hexagon-pattern-dashed.tsx
  apps/www/registry/example/hexagon-pattern-demo.tsx
  apps/www/registry/example/hexagon-pattern-linear-gradient.tsx
  apps/www/registry/example/hexagon-pattern-spacing.tsx
  apps/www/registry/magicui/hexagon-pattern.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: animate rainbow button pseudo-element glow
  .claude/settings.local.json
  .omc/project-memory.json
  .omc/sessions/47ea23e4-5669-4ead-8b41-576d29ab5474.json
  .omc/sessions/e66ad0ca-9c97-4031-857e-fefa0bce9e16.json
  apps/www/components/ui/button.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/rainbow-button.json
  apps/www/registry/magicui/rainbow-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: remove local workspace metadata from branch
  .claude/settings.local.json
  .omc/project-memory.json
  .omc/sessions/47ea23e4-5669-4ead-8b41-576d29ab5474.json
  .omc/sessions/e66ad0ca-9c97-4031-857e-fefa0bce9e16.json
Due: typecheck, lint:fix, format:fix:silent

fix: animate rainbow button pseudo-element glow (#941)
  apps/www/components/ui/button.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/rainbow-button.json
  apps/www/registry/magicui/rainbow-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(docs): update broken cobe links in globe docs
  apps/www/content/docs/components/globe.mdx
Due: none

docs(globe): normalize props table formatting
  apps/www/content/docs/components/globe.mdx
Due: none

fix(docs): update broken cobe links in globe docs (#943)
  apps/www/content/docs/components/globe.mdx
Due: none

fix(hexagon-pattern): make gap match visible hex spacing
  apps/www/public/llms-full.txt
  apps/www/public/r/hexagon-pattern.json
  apps/www/registry/magicui/hexagon-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(hexagon-pattern): make highlighted cells inherit theme fill
  apps/www/public/llms-full.txt
  apps/www/public/r/hexagon-pattern.json
  apps/www/registry/magicui/hexagon-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(hexagon-pattern): correct spacing example description
  apps/www/public/r/hexagon-pattern-spacing.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

feat(component): add hexagon pattern component (#940)
  apps/www/config/docs.ts
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/hexagon-pattern-dashed.json
  apps/www/public/r/hexagon-pattern-demo.json
  apps/www/public/r/hexagon-pattern-linear-gradient.json
  apps/www/public/r/hexagon-pattern-spacing.json
  apps/www/public/r/hexagon-pattern.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/hexagon-pattern-dashed.tsx
  apps/www/registry/example/hexagon-pattern-demo.tsx
  apps/www/registry/example/hexagon-pattern-linear-gradient.tsx
  apps/www/registry/example/hexagon-pattern-spacing.tsx
  apps/www/registry/magicui/hexagon-pattern.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(noise-texture): introduce Noise Texture component with examples and documentation
  apps/www/components/ui/button.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/content/docs/components/noise-texture.mdx
  apps/www/content/docs/components/striped-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/noise-texture-demo-2.json
  apps/www/public/r/noise-texture-demo-3.json
  apps/www/public/r/noise-texture-demo-4.json
  apps/www/public/r/noise-texture-demo.json
  apps/www/public/r/noise-texture.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/noise-texture-demo-2.tsx
  apps/www/registry/example/noise-texture-demo-3.tsx
  apps/www/registry/example/noise-texture-demo-4.tsx
  apps/www/registry/example/noise-texture-demo.tsx
  apps/www/registry/magicui/noise-texture.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor: clean up imports and formatting in button and documentation files
  apps/www/components/ui/button.tsx
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/content/docs/components/noise-texture.mdx
  apps/www/content/docs/components/striped-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/noise-texture.json
Due: typecheck, lint:fix, format:fix:silent

fix: fixed import type on 'pointer.tsx'
  apps/www/public/llms-full.txt
  apps/www/public/r/pointer.json
  apps/www/registry/magicui/pointer.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(pointer): reorder type import in generated registry outputs
  apps/www/public/llms-full.txt
  apps/www/public/r/pointer.json
Due: typecheck, lint:fix, format:fix:silent

fix: use `import type` for `HTMLMotionProps` on `pointer.tsx` (#945)
  apps/www/public/llms-full.txt
  apps/www/public/r/pointer.json
  apps/www/registry/magicui/pointer.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(animated-theme-toggler): add new shape variants and examples
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-demo.json
  apps/www/public/r/animated-theme-toggler-diamond-demo.json
  apps/www/public/r/animated-theme-toggler-hexagon-demo.json
  apps/www/public/r/animated-theme-toggler-rectangle-demo.json
  apps/www/public/r/animated-theme-toggler-star-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-diamond-demo.tsx
  apps/www/registry/example/animated-theme-toggler-hexagon-demo.tsx
  apps/www/registry/example/animated-theme-toggler-rectangle-demo.tsx
  apps/www/registry/example/animated-theme-toggler-star-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-examples.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(text-3d-flip): add core component
  apps/www/config/docs.ts
  apps/www/content/docs/components/text-3d-flip.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/text-3d-flip-demo-2.json
  apps/www/public/r/text-3d-flip-demo.json
  apps/www/public/r/text-3d-flip.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/text-3d-flip-demo-2.tsx
  apps/www/registry/example/text-3d-flip-demo.tsx
  apps/www/registry/magicui/text-3d-flip.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): guard Text3DFlip hover animation on unmount
  apps/www/public/llms-full.txt
  apps/www/public/r/text-3d-flip.json
  apps/www/registry/magicui/text-3d-flip.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Add Text 3D Flip component (#937)
  apps/www/config/docs.ts
  apps/www/content/docs/components/text-3d-flip.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/text-3d-flip-demo-2.json
  apps/www/public/r/text-3d-flip-demo.json
  apps/www/public/r/text-3d-flip.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/text-3d-flip-demo-2.tsx
  apps/www/registry/example/text-3d-flip-demo.tsx
  apps/www/registry/magicui/text-3d-flip.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): use unique SVG filter ids in NoiseTexture
  apps/www/public/llms-full.txt
  apps/www/public/r/noise-texture.json
  apps/www/registry/magicui/noise-texture.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): rename NoiseTexture opacity prop to noiseOpacity
  apps/www/content/docs/components/noise-texture.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/noise-texture.json
  apps/www/registry/magicui/noise-texture.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
