Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

build:registry:
  run: pnpm build:registry && git add --all
  stage_fixed: true

typecheck:
  run: pnpm typecheck
  stage_fixed: true

lint:fix:
  run: pnpm lint:fix
  stage_fixed: true

format:fix:silent:
  run: pnpm format:fix:silent
  stage_fixed: true

fix(retro-grid): resolve css colors via canvas pixels for webgl parity
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): replace the CSS perspective grid with a WebGL renderer (#928)
  apps/www/content/docs/components/retro-grid.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/retro-grid.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/magicui/retro-grid.tsx
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(highlighter): clean up stale rough-notation instances on prop changes
  apps/www/public/llms-full.txt
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/registry/magicui/highlighter.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(highlighter): clean up stale rough-notation instances on prop changes (#929)
  apps/www/public/llms-full.txt
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/registry/magicui/highlighter.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-beam): make default duration deterministic
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-beam.json
  apps/www/registry/magicui/animated-beam.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-beam): expose repeat timing controls
  apps/www/content/docs/components/animated-beam.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-beam.json
  apps/www/registry/magicui/animated-beam.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(animated-beam): format docs table for prettier compliance
  apps/www/content/docs/components/animated-beam.mdx
Due: none

fix(animated-beam): make default duration deterministic (#895)
  apps/www/content/docs/components/animated-beam.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-beam.json
  apps/www/registry/magicui/animated-beam.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(cool-mode): replace innerHTML particle rendering with safe DOM creation
  apps/www/public/llms-full.txt
  apps/www/public/r/cool-mode.json
  apps/www/registry/magicui/cool-mode.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(cool-mode): update custom particle image URL in example
  apps/www/public/llms-full.txt
  apps/www/public/r/cool-mode-custom.json
  apps/www/registry/example/cool-mode-custom.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(cool-mode): replace innerHTML particle rendering with safe DOM creation (#930)
  apps/www/public/llms-full.txt
  apps/www/public/r/cool-mode-custom.json
  apps/www/public/r/cool-mode.json
  apps/www/registry/example/cool-mode-custom.tsx
  apps/www/registry/magicui/cool-mode.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

perf(www): cache and parallelize registry source loading
  apps/www/lib/docs.ts
  apps/www/lib/registry.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): preserve registry file entries for schema validation
  apps/www/lib/registry.ts
Due: typecheck, lint:fix, format:fix:silent

perf(www): cache and parallelize registry source loading (#931)
  apps/www/lib/docs.ts
  apps/www/lib/registry.ts
Due: typecheck, lint:fix, format:fix:silent

chore(security): patch vulnerable web dependencies
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(security): patch vulnerable web dependencies (#932)
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

refactor: implement zero-dependency standalone three.js tubes background
  apps/www/package.json
  apps/www/registry/example/tubes-background-demo.tsx
  apps/www/registry/magicui/tubes-background.tsx
  apps/www/types/threejs-components.d.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: resolve merge conflicts with main
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

feat: add backlight component
  apps/www/config/docs.ts
  apps/www/content/docs/components/backlight.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/public/r/backlight-svg-demo.json
  apps/www/public/r/backlight-video-demo.json
  apps/www/public/r/backlight.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/backlight-image-demo.tsx
  apps/www/registry/example/backlight-svg-demo.tsx
  apps/www/registry/example/backlight-video-demo.tsx
  apps/www/registry/magicui/backlight.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight): use ReactElement type import instead of React namespace
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight.json
  apps/www/registry/magicui/backlight.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight): remove unused motion dependency from registry metadata
  apps/www/public/r/backlight.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

fix(backlight-video-demo): remove autoplay query from iframe source
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-video-demo.json
  apps/www/registry/example/backlight-video-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

style(backlight): remove extra whitespace around children
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight.json
  apps/www/registry/magicui/backlight.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: align backlight with named exports
  apps/www/content/docs/components/backlight.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/public/r/backlight-svg-demo.json
  apps/www/public/r/backlight-video-demo.json
  apps/www/public/r/backlight.json
  apps/www/registry/example/backlight-image-demo.tsx
  apps/www/registry/example/backlight-svg-demo.tsx
  apps/www/registry/example/backlight-video-demo.tsx
  apps/www/registry/magicui/backlight.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Add backlight component (#933)
  apps/www/config/docs.ts
  apps/www/content/docs/components/backlight.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/public/r/backlight-svg-demo.json
  apps/www/public/r/backlight-video-demo.json
  apps/www/public/r/backlight.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/backlight-image-demo.tsx
  apps/www/registry/example/backlight-svg-demo.tsx
  apps/www/registry/example/backlight-video-demo.tsx
  apps/www/registry/magicui/backlight.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight-video-demo): make demo component mobile responsive
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-video-demo.json
  apps/www/registry/example/backlight-video-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight-image-demo): make demo component mobile responsive
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/registry/example/backlight-image-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight-video-demo): update video source
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-video-demo.json
  apps/www/registry/example/backlight-video-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight-image-demo): preserve original image aspect ratio
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/registry/example/backlight-image-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(backlight): make demos mobile responsive and update video source (#934)
  apps/www/public/llms-full.txt
  apps/www/public/r/backlight-image-demo.json
  apps/www/public/r/backlight-video-demo.json
  apps/www/registry/example/backlight-image-demo.tsx
  apps/www/registry/example/backlight-video-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): optimize tubes-background performance and react interactivity
  apps/www/public/llms-full.txt
  apps/www/public/r/tubes-background-demo.json
  apps/www/public/r/tubes-background.json
  apps/www/registry/magicui/tubes-background.tsx
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): correct tubes background dependencies
  apps/www/content/docs/components/tubes-background.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/tubes-background-demo.json
  apps/www/public/r/tubes-background.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

feat(pulsating-button): add pulse-ripple animation variant
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(pulsating-button): update pulse color on theme change
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(pulsating-button): auto-derive pulse color from background & support all CSS color formats
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(pulsating-button): add demo component & update docs
  apps/www/content/docs/components/pulsating-button.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/pulsating-button-demo-2.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/pulsating-button-demo-2.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(pulsating-button): remove unnecessary markup
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(pulsating-button): add distance prop
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button.json
  apps/www/registry/magicui/pulsating-button.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: change pulsating-button-demo-2's background color to blue
  apps/www/public/llms-full.txt
  apps/www/public/r/pulsating-button-demo-2.json
  apps/www/registry/example/pulsating-button-demo-2.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

style(llms): format PulsatingButton demo JSX props
  apps/www/public/llms-full.txt
Due: none

Path conditions:
  build:registry: any of: **/registry/**/*.{ts,tsx}
  typecheck: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint:fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format:fix:silent: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
