Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

feat: add time scale filter component
  apps/www/config/docs.ts
  apps/www/content/docs/components/time-scale-filter.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/time-scale-filter-demo.json
  apps/www/public/r/time-scale-filter.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/time-scale-filter-demo.tsx
  apps/www/registry/magicui/time-scale-filter.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(glyph-matrix): update component
  apps/www/config/docs.ts
  apps/www/content/docs/components/glyph-matrix.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/public/r/glyph-matrix.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/glyph-matrix-demo.tsx
  apps/www/registry/magicui/glyph-matrix.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(glyph-matrix): replace h-full with h-[400px] in demo container
  apps/www/public/llms-full.txt
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/registry/example/glyph-matrix-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(glyph-matrix): align component API with conventions
  apps/www/public/llms-full.txt
  apps/www/public/r/glyph-matrix.json
  apps/www/registry/magicui/glyph-matrix.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(glyph-matrix): drive color via prop instead of DOM theme probing
  apps/www/content/docs/components/glyph-matrix.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/public/r/glyph-matrix.json
  apps/www/registry/example/glyph-matrix-demo.tsx
  apps/www/registry/magicui/glyph-matrix.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(glyph-matrix): declare next-themes dependency for demo
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(glyph-matrix): smooth theme recolor and fix demo dep/flash
  apps/www/public/llms-full.txt
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/public/r/glyph-matrix.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/example/glyph-matrix-demo.tsx
  apps/www/registry/magicui/glyph-matrix.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: respect color alpha, fall back to default on invalid color, drop redundant className prop
  apps/www/public/llms-full.txt
  apps/www/public/r/glyph-matrix.json
  apps/www/registry/magicui/glyph-matrix.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat/added glyph matrix component (#982)
  apps/www/config/docs.ts
  apps/www/content/docs/components/glyph-matrix.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/glyph-matrix-demo.json
  apps/www/public/r/glyph-matrix.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/glyph-matrix-demo.tsx
  apps/www/registry/magicui/glyph-matrix.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  registry.json
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(deps): resolve critical/high Dependabot alerts via lockfile refresh
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(deps): resolve critical/high Dependabot alerts via lockfile refresh (#983)
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

feat: add magnetic button component
  apps/www/config/docs.ts
  apps/www/content/docs/components/magnetic-button.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/magnetic-button-demo.json
  apps/www/public/r/magnetic-button.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/magnetic-button-demo.tsx
  apps/www/registry/magicui/magnetic-button.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  package-lock.json
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add magnetic button component
  apps/www/public/llms-full.txt
  apps/www/public/r/magnetic-button.json
  apps/www/registry/magicui/magnetic-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add nebula-toggle component
  apps/www/config/docs.ts
  apps/www/content/docs/components/nebula-toggle.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/nebula-toggle-demo.json
  apps/www/public/r/nebula-toggle.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/nebula-toggle-demo.tsx
  apps/www/registry/magicui/nebula-toggle.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): prevent compositor crash on rapid click
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(animated-theme-toggler): simplify crash fix to a single transition lock
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): block toggles while another instance is transitioning
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): silence rejection from the finished cleanup chain
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): prevent compositor crashes and glitches on rapid click (#987)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

ci: add production build check and lighten pre-commit hooks
  .github/workflows/code-check.yml
  apps/www/.prettierignore
  lefthook.yml
Due: none

ci: add production build check and lighten pre-commit hooks (#988)
  .github/workflows/code-check.yml
  apps/www/.prettierignore
  lefthook.yml
Due: none

fix(animated-theme-toggler): use percentage clip-path coordinates for view transition
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): use percentage clip-path coordinates for view transition (#990)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(icon-cloud): add animation playback toggle for accessibility
  apps/www/public/llms-full.txt
  apps/www/public/r/icon-cloud.json
  apps/www/registry/magicui/icon-cloud.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(icon-cloud): add showControl prop and demo with control button
  apps/www/content/docs/components/icon-cloud.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/icon-cloud-demo-4.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/icon-cloud-demo-4.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(icon-cloud): declare button and lucide-react registry dependencies
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

feat(icon-cloud): show the play/pause control by default
  apps/www/content/docs/components/icon-cloud.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/icon-cloud.json
  apps/www/registry/magicui/icon-cloud.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(icon-cloud): drop the redundant control button example
  apps/www/content/docs/components/icon-cloud.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/icon-cloud-demo-4.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/icon-cloud-demo-4.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

perf(icon-cloud): stop the render loop while the animation is paused
  apps/www/public/llms-full.txt
  apps/www/public/r/icon-cloud.json
  apps/www/registry/magicui/icon-cloud.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: Add Play/Pause toggle button for Icon Cloud component so that satisfies WCAG G186 (#991)
  apps/www/content/docs/components/icon-cloud.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(confetti): prevent worker reset on re-render and fix ConfettiButton ref forwarding
  apps/www/content/docs/components/confetti.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/confetti.json
  apps/www/registry/magicui/confetti.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(confetti): remove ineffective zIndex from Confetti
  apps/www/public/llms-full.txt
  apps/www/public/r/confetti.json
  apps/www/registry/magicui/confetti.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(confetti): fix stale "portaled" wording in className prop
  apps/www/content/docs/components/confetti.mdx
Due: none

fix(confetti): prevent canvas worker reset on re-render and fix Confe… (#992)
  apps/www/content/docs/components/confetti.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/confetti.json
  apps/www/registry/magicui/confetti.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(www): enable verbatimModuleSyntax to prevent TS1484 regressions
  apps/www/tsconfig.json
Due: typecheck, lint:fix, format:fix:silent

ci: make PR check failures self-explanatory and document CI gates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code-check.yml
  CONTRIBUTING.md
  apps/www/scripts/sync-example-registry-dependencies.mts
  lefthook.yml
  package.json
Due: typecheck, lint:fix, format:fix:silent

ci: tighten review-noted wording in failure messages and docs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code-check.yml
  CONTRIBUTING.md
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none
