Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

chore(eslint): disable no-img-element for registry samples
  apps/www/eslint.config.mjs
  apps/www/public/llms-full.txt
  apps/www/public/r/avatar-circles.json
  apps/www/public/r/blur-fade-demo.json
  apps/www/public/r/hero-video-dialog.json
  apps/www/public/r/lens-demo-2.json
  apps/www/public/r/lens-demo-3.json
  apps/www/public/r/lens-demo.json
  apps/www/public/r/marquee-3d.json
  apps/www/public/r/marquee-demo-vertical.json
  apps/www/public/r/tweet-card.json
  apps/www/registry/example/blur-fade-demo.tsx
  apps/www/registry/example/lens-demo-2.tsx
  apps/www/registry/example/lens-demo-3.tsx
  apps/www/registry/example/lens-demo.tsx
  apps/www/registry/example/marquee-3d.tsx
  apps/www/registry/example/marquee-demo-vertical.tsx
  apps/www/registry/magicui/avatar-circles.tsx
  apps/www/registry/magicui/hero-video-dialog.tsx
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(lint): add missing alt attributes in bento demo
  apps/www/public/llms-full.txt
  apps/www/public/r/bento-demo-vertical.json
  apps/www/public/r/lens-demo-2.json
  apps/www/public/r/lens-demo-3.json
  apps/www/public/r/lens-demo.json
  apps/www/registry/example/bento-demo-vertical.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(lint): fix exhaustive-deps and no-unused-vars in magicui registry
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree.json
  apps/www/public/r/globe.json
  apps/www/public/r/lens.json
  apps/www/public/r/particles.json
  apps/www/public/r/terminal.json
  apps/www/registry/magicui/file-tree.tsx
  apps/www/registry/magicui/globe.tsx
  apps/www/registry/magicui/lens.tsx
  apps/www/registry/magicui/particles.tsx
  apps/www/registry/magicui/terminal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(lint): resolve no-unused-vars warnings in registry components
  apps/www/public/llms-full.txt
  apps/www/public/r/dot-pattern.json
  apps/www/public/r/file-tree.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/smooth-cursor.json
  apps/www/registry/magicui/dot-pattern.tsx
  apps/www/registry/magicui/file-tree.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/smooth-cursor.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): correct mobile viewport-based transition radius in animated-theme-toggle (#911)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(www): resolve ESLint warnings in registry components (#915)
  apps/www/eslint.config.mjs
  apps/www/public/llms-full.txt
  apps/www/public/r/avatar-circles.json
  apps/www/public/r/bento-demo-vertical.json
  apps/www/public/r/blur-fade-demo.json
  apps/www/public/r/dot-pattern.json
  apps/www/public/r/file-tree.json
  apps/www/public/r/globe.json
  apps/www/public/r/hero-video-dialog.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/lens-demo-2.json
  apps/www/public/r/lens-demo-3.json
  apps/www/public/r/lens-demo.json
  apps/www/public/r/lens.json
  apps/www/public/r/marquee-3d.json
  apps/www/public/r/marquee-demo-vertical.json
  apps/www/public/r/particles.json
  apps/www/public/r/smooth-cursor.json
  apps/www/public/r/terminal.json
  apps/www/public/r/tweet-card.json
  apps/www/registry/example/bento-demo-vertical.tsx
  apps/www/registry/example/blur-fade-demo.tsx
  apps/www/registry/example/lens-demo-2.tsx
  apps/www/registry/example/lens-demo-3.tsx
  apps/www/registry/example/lens-demo.tsx
  apps/www/registry/example/marquee-3d.tsx
  apps/www/registry/example/marquee-demo-vertical.tsx
  apps/www/registry/magicui/avatar-circles.tsx
  apps/www/registry/magicui/dot-pattern.tsx
  apps/www/registry/magicui/file-tree.tsx
  apps/www/registry/magicui/globe.tsx
  apps/www/registry/magicui/hero-video-dialog.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/lens.tsx
  apps/www/registry/magicui/particles.tsx
  apps/www/registry/magicui/smooth-cursor.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: use correct Tailwind arbitrary values for animation in Marquee and OrbitingCircles
  apps/www/public/llms-full.txt
  apps/www/public/r/marquee.json
  apps/www/public/r/orbiting-circles.json
  apps/www/registry/magicui/marquee.tsx
  apps/www/registry/magicui/orbiting-circles.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(skills): add magic-ui SKILL.md and references (#910)
  skills/magic-ui/SKILL.md
  skills/magic-ui/references/components.md
  skills/magic-ui/references/recipes.md
Due: none

fix(www): validate and sync example registryDependencies during registry build
  apps/www/package.json
  apps/www/scripts/build-registry.mts
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: typecheck, lint:fix, format:fix:silent

fix(registry): sync example deps before build and add checks
  .github/workflows/code-check.yml
  apps/www/registry/registry-examples.ts
  package.json
Due: typecheck, lint:fix, format:fix:silent

chore: regenerate registry build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/tweet-card-demo.json
  apps/www/public/r/tweet-card-images.json
  apps/www/public/r/tweet-card-meta-preview.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(registry): enforce exact example registryDependencies sync
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

fix(www): fail build when example files are missing
  apps/www/scripts/build-registry.mts
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

chore: regenerate registry build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/bento-demo.json
  apps/www/public/r/confetti-custom-shapes.json
  apps/www/public/r/confetti-emoji.json
  apps/www/public/r/confetti-fireworks.json
  apps/www/public/r/confetti-side-cannons.json
  apps/www/public/r/confetti-stars.json
  apps/www/public/r/registry.json
  apps/www/public/r/tweet-card-demo.json
  apps/www/public/r/tweet-card-images.json
  apps/www/public/r/tweet-card-meta-preview.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(registry): follow transitive registry imports in dependency sync
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

chore: regenerate registry build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/bento-demo.json
  apps/www/public/r/registry.json
  apps/www/public/r/tweet-card-demo.json
  apps/www/public/r/tweet-card-images.json
  apps/www/public/r/tweet-card-meta-preview.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(registry): keep bundled ui deps in example dependency sync
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

chore: regenerate registry build artifacts
  apps/www/public/r/bento-demo.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(registry): preserve inferred ui deps for example installs
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

chore: regenerate registry build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/confetti-custom-shapes.json
  apps/www/public/r/confetti-emoji.json
  apps/www/public/r/confetti-fireworks.json
  apps/www/public/r/confetti-side-cannons.json
  apps/www/public/r/confetti-stars.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

refactor(registry): only auto-add missing example dependencies
  apps/www/scripts/sync-example-registry-dependencies.mts
Due: none

fix: registry example dependency drift checks (#917)
  .github/workflows/code-check.yml
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/bento-demo.json
  apps/www/public/r/registry.json
  apps/www/public/r/tweet-card-demo.json
  apps/www/public/r/tweet-card-images.json
  apps/www/public/r/tweet-card-meta-preview.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
  apps/www/scripts/build-registry.mts
  apps/www/scripts/sync-example-registry-dependencies.mts
  package.json
Due: typecheck, lint:fix, format:fix:silent

chore: regenerate registry build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

feat(dotted-map): add generic types and custom marker overlay support
  apps/www/public/llms-full.txt
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(dotted-map): add custom marker overlay example
  apps/www/public/llms-full.txt
  apps/www/registry/example/dotted-map-demo.tsx
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(dotted-map): update documentation for generic types and overlay support
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/r/dotted-map-demo.json
  apps/www/public/r/dotted-map.json
Due: typecheck, lint:fix, format:fix:silent

fix(dotted-map-demo): fix clipPath id collision when multiple instances rendered
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map-demo.json
  apps/www/registry/example/dotted-map-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(dotted-map): fix MapMarker type - addMarkers removes lat/lng at runtime
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map.json
  apps/www/registry/__index__.tsx
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(dotted-map): add root pulse prop with per-marker pulse override
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map-demo-3.json
  apps/www/public/r/dotted-map.json
  apps/www/registry/example/dotted-map-demo-3.tsx
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(dotted-map-demo): use higher-res WebP flags from FlagCDN
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map-demo.json
  apps/www/registry/example/dotted-map-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(dotted-map): add pulse animation demo example
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/dotted-map-demo-3.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/dotted-map-demo-3.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: add countries-list
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(dotted-map-demo): type countryCode with countries-list ISO codes
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map-demo.json
  apps/www/registry/example/dotted-map-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(dotted-map): apply dotColor prop to map dots
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map.json
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(dotted-map): pass corrected coordinates in renderMarkerOverlay marker
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map.json
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): add countries-list dependency to dotted-map-demo
  apps/www/public/r/dotted-map-demo.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(text-reveal): use section ref as useScroll target
  apps/www/public/llms-full.txt
  apps/www/public/r/text-reveal.json
  apps/www/registry/magicui/text-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(text-reveal): use section ref as useScroll target (#918)
  apps/www/public/llms-full.txt
  apps/www/public/r/text-reveal.json
  apps/www/registry/magicui/text-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
