Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

feat: add click-spark-demo registry example
  apps/www/public/r/click-spark-demo.json
Due: typecheck, lint:fix, format:fix:silent

feat: initialize registry index and configuration files with Magic UI components
  apps/www/public/r/click-spark-demo.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

fix(kinetic-text): forward native props and allow style variable overrides
  apps/www/public/llms-full.txt
  apps/www/public/r/kinetic-text.json
  apps/www/registry/magicui/kinetic-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(kinetic-text): align as prop type docs with implementation
  apps/www/content/docs/components/kinetic-text.mdx
Due: none

fix(kinetic-text): prevent rest props from overriding internal styles
  apps/www/public/llms-full.txt
  apps/www/public/r/kinetic-text.json
  apps/www/registry/magicui/kinetic-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(kinetic-text): align as prop type docs and format mdx
  apps/www/content/docs/components/kinetic-text.mdx
Due: none

feat: add kinetic-text component (#955)
  apps/www/config/docs.ts
  apps/www/content/docs/components/kinetic-text.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/kinetic-text-demo.json
  apps/www/public/r/kinetic-text.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/kinetic-text-demo.tsx
  apps/www/registry/magicui/kinetic-text.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(globe): update cobe API usage
  apps/www/registry/magicui/globe.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(story): make tweet cards grid responsive on mobile screens
  apps/www/content/docs/story.mdx
Due: none

style(story): format tweet grid classes
  apps/www/content/docs/story.mdx
Due: none

fix(story): make tweet cards grid responsive on mobile screens (#964)
  apps/www/content/docs/story.mdx
Due: none

fix: update package.json
  apps/www/package.json
Due: typecheck, lint:fix, format:fix:silent

chore: change regitry artifact
  apps/www/public/llms-full.txt
  apps/www/public/r/globe.json
Due: typecheck, lint:fix, format:fix:silent

fix(globe): pin cobe to ^0.6.4 to prevent v2 install break
  apps/www/public/r/globe.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

docs(globe): pin cobe install command to 0.6.4
  apps/www/content/docs/components/globe.mdx
Due: none

fix(globe): pin cobe to ^0.6.4 to prevent v2 install break (#965)
  apps/www/content/docs/components/globe.mdx
  apps/www/public/r/globe.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): prevent Firefox theme transition flash
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): prevent Firefox theme transition flash (#966)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(showcase): add robot-toast
  apps/www/content/showcase/robot-toast.mdx
  apps/www/public/showcase/robot-toast.png
Due: none

feat: add ClickSpark demo component to registry
  apps/www/registry/example/click-spark-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add ClickSpark component and corresponding documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/click-spark.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/click-spark-demo.json
  apps/www/public/r/click-spark.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/click-spark-demo.tsx
  apps/www/registry/magicui/click-spark.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: add documentation for Click Spark component
  apps/www/content/docs/components/click-spark.mdx
Due: none

chore: regenerate registry build artifacts and sync MDX docs date for ClickSpark
  apps/www/content/docs/components/click-spark.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/click-spark-demo.json
  apps/www/public/r/click-spark.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry/__index__.tsx
Due: typecheck, lint:fix, format:fix:silent

feat/added glyph matrix component
  apps/www/registry/example/glyph-matrix-demo.tsx
  apps/www/registry/magicui/glyph-matrix.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  registry.json
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(showcase): add robot-toast (#967)
  apps/www/content/showcase/robot-toast.mdx
  apps/www/public/showcase/robot-toast.png
Due: none

feat: add clipped video tab component
  apps/www/content/docs/components/clipped-video-tab.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/clipped-video-tab-demo.json
  apps/www/public/r/clipped-video-tab.json
  apps/www/public/r/registry.json
  apps/www/public/r/tweet-card.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/clipped-video-tab-demo.tsx
  apps/www/registry/magicui/clipped-video-tab.tsx
  apps/www/registry/magicui/tweet-card.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  package.json
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(animated-theme-toggler): add controlled mode for next-themes
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-next-themes-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-next-themes-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(animated-theme-toggler): document theme and onThemeChange props
  apps/www/content/docs/components/animated-theme-toggler.mdx
Due: none

docs(animated-theme-toggler): document controlled mode with next-themes
  apps/www/content/docs/components/animated-theme-toggler.mdx
Due: none

feat(animated-theme-toggler): add controlled mode for next-themes (#973)
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-next-themes-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-next-themes-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(docs): correct mobile copy page menu positioning
  apps/www/components/docs-copy-page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(docs): correct mobile copy page menu positioning (#976)
  apps/www/components/docs-copy-page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: step circles overflow left edge
  apps/www/styles/globals.css
Due: none

fix: step circles overflow left edge (#977)
  apps/www/styles/globals.css
Due: none

feat(showcase): add showcase item
  apps/www/content/showcase/d1rshan.mdx
  apps/www/public/showcase/d1rshan.png
Due: none

fix: handle missing tweet entity arrays
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: handle missing tweet entity arrays (#979)
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(showcase): add showcase item (#978)
  apps/www/content/showcase/d1rshan.mdx
  apps/www/public/showcase/d1rshan.png
Due: none
