Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

build:registry:
  run: pnpm build:registry && git add --all
  stage_fixed: true

typecheck:
  run: pnpm typecheck
  stage_fixed: true

lint:fix:
  run: pnpm lint:fix
  stage_fixed: true

format:fix:silent:
  run: pnpm format:fix:silent
  stage_fixed: true

fix(DotPattern): restore backward-compatible color API via currentColor
  apps/www/registry/magicui/dot-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(marquee): use type import for `ComponentPropsWithoutRed` in marquee
  apps/www/public/llms-full.txt
  apps/www/public/r/marquee.json
  apps/www/public/r/pointer.json
  apps/www/registry/magicui/marquee.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magicCard): extend with optional orb glow layer (#880)
  apps/www/content/docs/components/magic-card.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/public/r/magic-card.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/magic-card-demo2.tsx
  apps/www/registry/magicui/magic-card.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(magic-card): restore border glow clipping in gradient mode
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(magic-card): restore border glow clipping in gradient mode (#920)
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(file-tree): render tree nodes from elements data
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree-demo.json
  apps/www/public/r/file-tree.json
  apps/www/registry/example/file-tree-demo.tsx
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(file-tree): auto-sort elements
  apps/www/content/docs/components/file-tree.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree-demo.json
  apps/www/public/r/file-tree.json
  apps/www/registry/example/file-tree-demo.tsx
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(docs): format file-tree docs
  apps/www/content/docs/components/file-tree.mdx
Due: none

feat(file-tree): add configurable sorting for elements
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree.json
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(file-tree): auto-sort file-tree elements
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree.json
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(file-tree): add auto-sorted elements mode to file-tree (#921)
  apps/www/content/docs/components/file-tree.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree-demo.json
  apps/www/public/r/file-tree.json
  apps/www/registry/example/file-tree-demo.tsx
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(smooth-cursor): disable smooth cursor on touch devices
  apps/www/content/docs/components/smooth-cursor.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/smooth-cursor-demo.json
  apps/www/public/r/smooth-cursor.json
  apps/www/registry/example/smooth-cursor-demo.tsx
  apps/www/registry/magicui/smooth-cursor.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: allow smooth cursor on pen pointers
  apps/www/public/llms-full.txt
  apps/www/public/r/smooth-cursor.json
  apps/www/registry/magicui/smooth-cursor.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(smooth-cursor): disable smooth cursor on touch devices (#922)
  apps/www/content/docs/components/smooth-cursor.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/smooth-cursor-demo.json
  apps/www/public/r/smooth-cursor.json
  apps/www/registry/example/smooth-cursor-demo.tsx
  apps/www/registry/magicui/smooth-cursor.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add new showcase item
  apps/www/content/showcase/aryankarma.mdx
  apps/www/public/showcase/aryankarma.png
Due: none

feat: add new showcase item (#923)
  apps/www/content/showcase/aryankarma.mdx
  apps/www/public/showcase/aryankarma.png
Due: none

feat(dotted-map) : Add marker overlay support to DottedMap (#862)
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/dotted-map-demo-3.json
  apps/www/public/r/dotted-map-demo.json
  apps/www/public/r/dotted-map.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/dotted-map-demo-3.tsx
  apps/www/registry/example/dotted-map-demo.tsx
  apps/www/registry/magicui/dotted-map.tsx
  apps/www/registry/registry-examples.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(www): format showcase entry for aryankarma
  apps/www/content/showcase/aryankarma.mdx
Due: none

fix(www): skip PostHog when api key is missing
  apps/www/components/posthog-provider.tsx
  apps/www/components/sidebar-cta.tsx
  apps/www/components/site-banner.tsx
  apps/www/lib/events.ts
  apps/www/lib/posthog.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): resolve nested anchor hydration error in testimonials
  apps/www/components/sections/testimonials.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): skip PostHog when api key is missing (#924)
  apps/www/components/posthog-provider.tsx
  apps/www/components/sidebar-cta.tsx
  apps/www/components/site-banner.tsx
  apps/www/lib/events.ts
  apps/www/lib/posthog.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): restore testimonial tweet card navigation without nested links
  apps/www/components/sections/testimonial-tweet-link.tsx
  apps/www/components/sections/testimonials.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): restore testimonial card fallback navigation
  apps/www/components/sections/testimonial-tweet-link.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): handle svg click targets in testimonial card navigation guard
  apps/www/components/sections/testimonial-tweet-link.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): resolve nested anchor hydration error in testimonials (#925)
  apps/www/components/sections/testimonial-tweet-link.tsx
  apps/www/components/sections/testimonials.tsx
Due: typecheck, lint:fix, format:fix:silent

chore: remove dead build:docs script
  package.json
Due: typecheck, lint:fix, format:fix:silent

fix(retro-grid): switch the grid renderer to raw webgl
  apps/www/content/docs/components/retro-grid.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/retro-grid.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/magicui/retro-grid.tsx
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): match webgl line rendering to the original css grid
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): fine-tune webgl grid lines to match the css demo
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): make the webgl grid scroll seamless
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): reduce top grid density with distance-based lod
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): keep the css fallback until webgl is ready
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

hi res image
  apps/www/public/showcase/aryankarma.png
Due: none

Updated Image and added new domain to the showcase item (#926)
  apps/www/content/showcase/aryankarma.mdx
  apps/www/public/showcase/aryankarma.png
Due: none

refactor(retro-grid): keep the webgl pipeline stable across prop updates
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): recover gracefully from webgl context loss
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add TubesBackground component and types
  apps/www/config/docs.ts
  apps/www/content/docs/components/tubes-background.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/tubes-background-demo.json
  apps/www/public/r/tubes-background.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/tubes-background-demo.tsx
  apps/www/registry/magicui/tubes-background.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/types/threejs-components.d.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): normalize fallback props to match the webgl renderer
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(retro-grid): preserve line color alpha in the webgl shader
  apps/www/public/llms-full.txt
  apps/www/public/r/retro-grid.json
  apps/www/registry/magicui/retro-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Path conditions:
  build:registry: any of: **/registry/**/*.{ts,tsx}
  typecheck: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint:fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format:fix:silent: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
