Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

chore: add shadcn mcp to cursor
  .cursor/mcp.json
Due: typecheck, lint:fix, format:fix:silent

fix: update package.json
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix: markdown fix
  apps/www/content/blog/navbar-in-react-js.mdx
Due: none

feat: improve dotted map api
  apps/www/public/llms-full.txt
  apps/www/public/r/dotted-map-demo.json
  apps/www/public/r/dotted-map.json
  apps/www/registry/example/dotted-map-demo.tsx
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: improve striped pattern demo
  apps/www/content/docs/components/striped-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/striped-pattern-dashed.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/striped-pattern-dashed.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: improve SEO with structured markup
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: bug fix
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: update seo name
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: pagespeed optimizations
  apps/www/components/analytics.tsx
  apps/www/components/docs-copy-page.tsx
  apps/www/components/logo-button.tsx
  apps/www/components/sections/video-testimonials.tsx
  apps/www/next.config.mjs
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix: pagespeed optimizations for tweet images
  apps/www/mdx-components.tsx
  apps/www/next.config.mjs
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: pagespeed optimization for docs page, suspense
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/app/(docs)/docs/layout.tsx
  apps/www/app/(docs)/docs/loading.tsx
  apps/www/components/site-header.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: remove unused packages
  apps/www/components/commit-list.tsx
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix: try css inlining for pagespeed
  apps/www/next.config.mjs
Due: typecheck, lint:fix, format:fix:silent

fix: code block styles
  apps/www/components/component-preview-tabs.tsx
  apps/www/components/component-preview.tsx
  apps/www/components/component-source.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: safari ios fullscreen video fix
  apps/www/content/docs/templates/agent.mdx
  apps/www/content/docs/templates/blog.mdx
  apps/www/content/docs/templates/changelog.mdx
  apps/www/content/docs/templates/devtool.mdx
  apps/www/content/docs/templates/mobile.mdx
  apps/www/content/docs/templates/portfolio.mdx
  apps/www/content/docs/templates/saas.mdx
  apps/www/content/docs/templates/startup.mdx
Due: none

fix: update demos and code
  apps/www/content/docs/components/typing-animation.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/typing-animation-demo-10.json
  apps/www/public/r/typing-animation-demo-11.json
  apps/www/public/r/typing-animation-demo-2.json
  apps/www/public/r/typing-animation-demo-3.json
  apps/www/public/r/typing-animation-demo-4.json
  apps/www/public/r/typing-animation-demo-5.json
  apps/www/public/r/typing-animation-demo-6.json
  apps/www/public/r/typing-animation-demo-7.json
  apps/www/public/r/typing-animation-demo-8.json
  apps/www/public/r/typing-animation-demo-9.json
  apps/www/public/r/typing-animation-demo.json
  apps/www/public/r/typing-animation.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/example/typing-animation-demo-2.tsx
  apps/www/registry/example/typing-animation-demo-3.tsx
  apps/www/registry/example/typing-animation-demo-4.tsx
  apps/www/registry/example/typing-animation-demo-5.tsx
  apps/www/registry/example/typing-animation-demo-6.tsx
  apps/www/registry/example/typing-animation-demo-7.tsx
  apps/www/registry/example/typing-animation-demo-8.tsx
  apps/www/registry/example/typing-animation-demo.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(typing-animation): add multi-word animation and cursor control (#769)
  apps/www/content/docs/components/typing-animation.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/typing-animation-demo-2.json
  apps/www/public/r/typing-animation-demo-3.json
  apps/www/public/r/typing-animation-demo-4.json
  apps/www/public/r/typing-animation-demo-5.json
  apps/www/public/r/typing-animation-demo-6.json
  apps/www/public/r/typing-animation-demo-7.json
  apps/www/public/r/typing-animation-demo-8.json
  apps/www/public/r/typing-animation-demo.json
  apps/www/public/r/typing-animation.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/typing-animation-demo-2.tsx
  apps/www/registry/example/typing-animation-demo-3.tsx
  apps/www/registry/example/typing-animation-demo-4.tsx
  apps/www/registry/example/typing-animation-demo-5.tsx
  apps/www/registry/example/typing-animation-demo-6.tsx
  apps/www/registry/example/typing-animation-demo-7.tsx
  apps/www/registry/example/typing-animation-demo-8.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: update sidebar
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

fix: lint warning fixes
  apps/www/components/docs-copy-page.tsx
  apps/www/components/main-nav.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: migrate next lint to eslint. fix lint errors
  apps/www/eslint.config.mjs
  apps/www/middleware.ts
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/public/r/client-tweet-card.json
  apps/www/public/r/cool-mode.json
  apps/www/public/r/file-tree.json
  apps/www/public/r/interactive-hover-button.json
  apps/www/public/r/light-rays.json
  apps/www/public/r/neon-gradient-card.json
  apps/www/public/r/pointer.json
  apps/www/public/r/rainbow-button.json
  apps/www/public/r/scroll-progress.json
  apps/www/public/r/tweet-card.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
  apps/www/registry/magicui/client-tweet-card.tsx
  apps/www/registry/magicui/cool-mode.tsx
  apps/www/registry/magicui/file-tree.tsx
  apps/www/registry/magicui/interactive-hover-button.tsx
  apps/www/registry/magicui/light-rays.tsx
  apps/www/registry/magicui/neon-gradient-card.tsx
  apps/www/registry/magicui/pointer.tsx
  apps/www/registry/magicui/rainbow-button.tsx
  apps/www/registry/magicui/scroll-progress.tsx
  apps/www/registry/magicui/tweet-card.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/scripts/build-registry.mts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: bump nextjs and eslint packages
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix: bump fumadocs core
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix: add breadcrumblist to blog for seo
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: update docs
  CONTRIBUTING.md
  apps/www/content/docs/components/striped-pattern.mdx
Due: none

fix: add nextjs url redirect back
  apps/www/next.config.mjs
Due: typecheck, lint:fix, format:fix:silent

feat: auto submit google search console workflow
  .github/scripts/submit-sitemap.mjs
  .github/workflows/submit-sitemap.yml
Due: typecheck, lint:fix, format:fix:silent

fix: workflow fix
  .github/workflows/submit-sitemap.yml
Due: none

fix: workflow fix
  .github/scripts/submit-sitemap.mjs
Due: typecheck, lint:fix, format:fix:silent

fix: update code example for theme toggler
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/example/animated-theme-toggler-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: update duration
  apps/www/content/docs/components/animated-theme-toggler.mdx
Due: none

style(magic-card): align magic card border radii with default card and add exit animations
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
