Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

build:registry:
  run: pnpm build:registry && git add --all
  stage_fixed: true

typecheck:
  run: pnpm typecheck
  stage_fixed: true

lint:fix:
  run: pnpm lint:fix
  stage_fixed: true

format:fix:silent:
  run: pnpm format:fix:silent
  stage_fixed: true

ci: make PR check failures self-explanatory and document CI gates (#994)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code-check.yml
  CONTRIBUTING.md
  apps/www/scripts/sync-example-registry-dependencies.mts
  lefthook.yml
  package.json
Due: typecheck, lint:fix, format:fix:silent

feat(showcase): add imiles.me
  apps/www/content/showcase/miles.mdx
  apps/www/public/showcase/miles.png
Due: none

feat(upload-state): add accessible file drop zone
  apps/www/registry/magicui/upload-state.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(upload-state): add interactive demo
  apps/www/registry/example/upload-state-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(upload-state): register component and docs
  apps/www/config/docs.ts
  apps/www/content/docs/components/upload-state.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/upload-state-demo.json
  apps/www/public/r/upload-state.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

feat(showcase): add imiles.me (#995)
  apps/www/content/showcase/miles.mdx
  apps/www/public/showcase/miles.png
Due: none

fix(animated-theme-toggler): prevent compositor crashes
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): clear view-transition state on unmount
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(animated-theme-toggler): satisfy exhaustive-deps for cancelAnim
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(animated-theme-toggler): drop the no-op cancelAnim before starting a transition
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): prevent compositor crashes (#996)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(readme): fix broken star history chart
  README.md
Due: none

feat(radar-sweep): add animated radar component
  apps/www/config/docs.ts
  apps/www/content/docs/components/radar-sweep.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/radar-sweep-demo.json
  apps/www/public/r/radar-sweep.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/radar-sweep-demo.tsx
  apps/www/registry/magicui/radar-sweep.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(radar-sweep): harden component integration
  apps/www/styles/globals.css
Due: none

feat(scratch-to-reveal): port component to tailwind v4
  apps/www/config/docs.ts
  apps/www/content/docs/components/scratch-to-reveal.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/scratch-to-reveal-demo.json
  apps/www/public/r/scratch-to-reveal.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/scratch-to-reveal-demo.tsx
  apps/www/registry/magicui/scratch-to-reveal.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(scratch-to-reveal): harden tailwind v4 port
  apps/www/content/docs/components/scratch-to-reveal.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/scratch-to-reveal.json
  apps/www/registry/magicui/scratch-to-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(floating-3d-particles): add canvas-based 3d particle background
  apps/www/config/docs.ts
  apps/www/content/docs/components/floating-3d-particles.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/floating-3d-particles-demo-2.json
  apps/www/public/r/floating-3d-particles-demo.json
  apps/www/public/r/floating-3d-particles.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/floating-3d-particles-demo-2.tsx
  apps/www/registry/example/floating-3d-particles-demo.tsx
  apps/www/registry/magicui/floating-3d-particles.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(fade-input): add fade input component
  apps/www/config/docs.ts
  apps/www/content/docs/components/fade-input.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/fade-input-demo.json
  apps/www/public/r/fade-input.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/fade-input-demo.tsx
  apps/www/registry/magicui/fade-input.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(water-ripple): add interactive WebGL water ripple background
  apps/www/config/docs.ts
  apps/www/content/docs/components/water-ripple.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/registry.json
  apps/www/public/r/water-ripple-demo.json
  apps/www/public/r/water-ripple.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/water-ripple-demo.tsx
  apps/www/registry/magicui/water-ripple.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): correct smooth-cursor dependency (framer-motion -> motion)
  apps/www/public/r/registry.json
  apps/www/public/r/smooth-cursor.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

chore(www): remove unused lint-staged devDependency
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(www): remove unused npm-run-all devDependency
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(www): remove unused tailwindcss-animate devDependency
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(www): remove unused @radix-ui/react-toast dependency
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(www): align @types/node with the Node 22 engines floor
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(www): remove unreferenced tsconfig.scripts.json
  apps/www/tsconfig.scripts.json
Due: typecheck, lint:fix, format:fix:silent

fix(www): bump next to 15.5.25 to pick up the July 2026 security release
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

fix(www): bump next to 15.5.25 to pick up the July 2026 security release (#1010)
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

chore(deps): refresh lockfile to clear Dependabot alerts (in-range only)
  apps/www/package.json
  pnpm-lock.yaml
Due: typecheck, lint:fix, format:fix:silent

style(www): reformat for prettier 3.9 and regenerate affected registry artifacts
  apps/www/content/blog/react-js-navbar.mdx
  apps/www/lib/rehype-component.ts
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree.json
  apps/www/registry/magicui/file-tree.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(deps): refresh lockfile to clear Dependabot alerts (69 → 7) (#1011)
  apps/www/content/blog/react-js-navbar.mdx
  apps/www/lib/rehype-component.ts
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/file-tree.json
  apps/www/registry/magicui/file-tree.tsx
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

Fix Manual variable css for rainbow-button
  apps/www/content/docs/components/rainbow-button.mdx
Due: none

feat(showcase): add OverlayUI showcase entry
  apps/www/content/showcase/overlay-ui.mdx
  apps/www/public/showcase/overlay-ui.png
Due: none

feat: add rainbow cursor component
  apps/www/registry/magicui/rainbow-cursor.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: add rainbow cursor demo
  apps/www/registry/example/rainbow-cursor-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: add rainbow cursor documentation
  apps/www/content/docs/components/rainbow-cursor.mdx
Due: none

docs: add rainbow cursor sidebar link
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

chore(deps): add ogl dependency
  apps/www/package.json
Due: typecheck, lint:fix, format:fix:silent

chore(deps): update lockfile for ogl
  pnpm-lock.yaml
Due: none

feat: register rainbow cursor component
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

Path conditions:
  build:registry: any of: **/registry/**/*.{ts,tsx}
  typecheck: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint:fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format:fix:silent: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
