Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

feat: add keyboard shortcut to toggle mode
  apps/www/app/layout.tsx
  apps/www/components/mode-toggle.tsx
  apps/www/components/ui/kbd.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: refactor theme toggler for browser missing animation api
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: change highlighter-demo color to make text readable
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/components/docs-copy-page.tsx
  apps/www/components/posthog-provider.tsx
  apps/www/components/sidebar-cta.tsx
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/content/docs/components/highlighter.mdx
  apps/www/mdx-components.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/highlighter-demo.json
  apps/www/registry/example/highlighter-demo.tsx
  fix_code.py
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: Fix incorrect Dock component example
  apps/www/content/docs/components/dock.mdx
Due: none

fix: lint and format fix
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/components/sidebar-cta.tsx
  apps/www/components/ui/tooltip.tsx
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/mdx-components.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/border-beam.json
  apps/www/public/r/dock-demo.json
  apps/www/registry/example/dock-demo.tsx
  apps/www/registry/magicui/border-beam.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: Fix incorrect Dock component example (#872)
  apps/www/content/docs/components/dock.mdx
Due: none

fix(animated-grid-pattern): prevent repeatDelay prop from leaking to svg
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-grid-pattern): stabilize effects and ResizeObserver cleanup
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-grid-pattern): avoid hydration mismatch by deferring random squares init
  apps/www/public/llms-full.txt
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: improved the type and lint/format fix
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern-demo.json
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/example/animated-grid-pattern-demo.tsx
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: AnimatedGridPattern hydration + effect loop + invalid DOM prop (#858)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern-demo.json
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/example/animated-grid-pattern-demo.tsx
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: added shrink-0 in the tweetcard avatar image container
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: added shrink-0 in the tweetcard avatar image container (#851)
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add optional href field to showcase and handle external links in ShowcaseCard
  apps/www/app/(marketing)/showcase/[...slug]/page.tsx
  apps/www/components/sections/showcase.tsx
  apps/www/source.config.ts
Due: typecheck, lint:fix, format:fix:silent

feat: add optional href field to showcase and handle external links in ShowcaseCard (#874)
  apps/www/app/(marketing)/showcase/[...slug]/page.tsx
  apps/www/components/sections/showcase.tsx
  apps/www/source.config.ts
Due: typecheck, lint:fix, format:fix:silent

fix: adjust CopyButton position when title is missing
  apps/www/components/component-source.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: Pointer show up at init time (#853)
  apps/www/registry/magicui/pointer.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: use CLI-safe MCP alias in config examples
  apps/www/content/docs/mcp.mdx
  apps/www/public/mcp.json
Due: typecheck, lint:fix, format:fix:silent

fix: fallback for missing startViewTransition API
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/pointer.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(showcase): add PulpSense
  apps/www/content/showcase/pulpsense.mdx
  apps/www/public/showcase/pulpsense.png
Due: none

feat(showcase): add PulpSense (#849)
  apps/www/content/showcase/pulpsense.mdx
  apps/www/public/showcase/pulpsense.png
Due: none

feat(magic-card): add orb mode with animated glow effect
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(magic-card): improve orb mode animation with spring-based opacity
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add z-index layering and screen blend mode for orb glow
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add theme-aware blend mode with SSR-safe theme detection
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(magic-card): add suppressHydrationWarning and use background instead of backgroundImage
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add orb mode example and update documentation
  apps/www/content/docs/components/magic-card.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/public/r/magic-card.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/magic-card-demo2.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(magic-card): improve props table formatting
  apps/www/content/docs/components/magic-card.mdx
Due: none

refactor(magic-card): use discriminated union for type-safe mode props
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(docs): align prev/next navigation with sidebar order
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

Update import statement for MotionProps type
  apps/www/registry/magicui/terminal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(dot-pattern): optimize rendering by using SVG pattern and remove unnecessary state management
  apps/www/registry/magicui/dot-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(animated-beam): make default duration deterministic
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-beam.json
  apps/www/registry/magicui/animated-beam.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: code formatting and cleanup
  apps/www/public/llms-full.txt
  apps/www/public/r/pointer.json
Due: typecheck, lint:fix, format:fix:silent

chore: code formatting and cleanup (#897)
  apps/www/public/llms-full.txt
  apps/www/public/r/pointer.json
Due: typecheck, lint:fix, format:fix:silent

chore: update line height in ScrollBasedVelocityDemo and TypingAnimation components (#882)
  apps/www/public/llms-full.txt
  apps/www/public/r/scroll-based-velocity-demo.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/example/scroll-based-velocity-demo.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: updated Scroll Based Velocity component to disable scroll prop for infinite text scrolling
  apps/www/content/docs/components/scroll-based-velocity.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/scroll-based-velocity.json
  apps/www/registry/magicui/scroll-based-velocity.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: updated Scroll Based Velocity component to disable scroll prop for infinite text scrolling (#896)
  apps/www/content/docs/components/scroll-based-velocity.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/scroll-based-velocity.json
  apps/www/registry/magicui/scroll-based-velocity.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
