Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

feat(animated-theme-toggler): enhance component with new shape variants and viewport-centered origin option
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(package.json): add missing newline at end of file
  apps/www/package.json
Due: typecheck, lint:fix, format:fix:silent

fix(docs): update props table formatting for animated theme toggler
  apps/www/content/docs/components/animated-theme-toggler.mdx
Due: none

fix(noise-texture): update default prop values and improve documentation
  apps/www/content/docs/components/noise-texture.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/noise-texture-demo-2.json
  apps/www/public/r/noise-texture-demo-3.json
  apps/www/public/r/noise-texture-demo-4.json
  apps/www/public/r/noise-texture-demo.json
  apps/www/public/r/noise-texture.json
  apps/www/registry/example/noise-texture-demo-2.tsx
  apps/www/registry/example/noise-texture-demo-3.tsx
  apps/www/registry/example/noise-texture-demo-4.tsx
  apps/www/registry/example/noise-texture-demo.tsx
  apps/www/registry/magicui/noise-texture.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(noise-texture): sync prop table defaults with component implementation
  apps/www/content/docs/components/noise-texture.mdx
Due: none

fix(noise-texture): scope button group class to demo only
  apps/www/components/ui/button.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/noise-texture-demo-3.json
  apps/www/registry/example/noise-texture-demo-3.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: add .nvmrc file with Node.js version 22
  .nvmrc
Due: none

docs(noise-texture): fix heading hierarchy in docs
  apps/www/content/docs/components/noise-texture.mdx
Due: none

feat(noise-texture): introduce NoiseTexture component (#944)
  apps/www/config/docs.ts
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/content/docs/components/noise-texture.mdx
  apps/www/content/docs/components/striped-pattern.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/noise-texture-demo-2.json
  apps/www/public/r/noise-texture-demo-3.json
  apps/www/public/r/noise-texture-demo-4.json
  apps/www/public/r/noise-texture-demo.json
  apps/www/public/r/noise-texture.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/noise-texture-demo-2.tsx
  apps/www/registry/example/noise-texture-demo-3.tsx
  apps/www/registry/example/noise-texture-demo-4.tsx
  apps/www/registry/example/noise-texture-demo.tsx
  apps/www/registry/magicui/noise-texture.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(dia-text-reveal): add Dia Text Reveal component with examples and documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/dia-text-reveal.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/dia-text-reveal-demo-2.json
  apps/www/public/r/dia-text-reveal-demo-3.json
  apps/www/public/r/dia-text-reveal-demo-4.json
  apps/www/public/r/dia-text-reveal-demo.json
  apps/www/public/r/dia-text-reveal.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/dia-text-reveal-demo-2.tsx
  apps/www/registry/example/dia-text-reveal-demo-3.tsx
  apps/www/registry/example/dia-text-reveal-demo-4.tsx
  apps/www/registry/example/dia-text-reveal-demo.tsx
  apps/www/registry/magicui/dia-text-reveal.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: add missing motion dependency for highlighter registry
  apps/www/content/docs/components/highlighter.mdx
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

fix: add missing motion dependency for highlighter registry (#950)
  apps/www/content/docs/components/highlighter.mdx
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

docs: add title to ComponentSource in highlighter documentation
  apps/www/content/docs/components/highlighter.mdx
Due: none

style: format ComponentSource tags for consistency across documentation
  apps/www/content/docs/components/animated-circular-progress-bar.mdx
  apps/www/content/docs/components/animated-gradient-text.mdx
  apps/www/content/docs/components/animated-grid-pattern.mdx
  apps/www/content/docs/components/animated-shiny-text.mdx
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/content/docs/components/avatar-circles.mdx
  apps/www/content/docs/components/code-comparison.mdx
  apps/www/content/docs/components/flickering-grid.mdx
  apps/www/content/docs/components/hero-video-dialog.mdx
  apps/www/content/docs/components/hexagon-pattern.mdx
  apps/www/content/docs/components/interactive-grid-pattern.mdx
  apps/www/content/docs/components/interactive-hover-button.mdx
  apps/www/content/docs/components/line-shadow-text.mdx
  apps/www/content/docs/components/neon-gradient-card.mdx
  apps/www/content/docs/components/orbiting-circles.mdx
  apps/www/content/docs/components/progressive-blur.mdx
  apps/www/content/docs/components/pulsating-button.mdx
  apps/www/content/docs/components/rainbow-button.mdx
  apps/www/content/docs/components/scroll-based-velocity.mdx
  apps/www/content/docs/components/scroll-progress.mdx
  apps/www/content/docs/components/shimmer-button.mdx
  apps/www/content/docs/components/striped-pattern.mdx
  apps/www/content/docs/components/tweet-card.mdx
  apps/www/content/docs/components/typing-animation.mdx
  apps/www/content/docs/components/warp-background.mdx
Due: none

feat(click-spark): add Click Spark component with demo and documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/click-spark.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/click-spark-demo.json
  apps/www/public/r/click-spark.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/click-spark-demo.tsx
  apps/www/registry/magicui/click-spark.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(animated-theme-toggler): add triangle shape variant and enchances doc
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-diamond-demo.json
  apps/www/public/r/animated-theme-toggler-hexagon-demo.json
  apps/www/public/r/animated-theme-toggler-rectangle-demo.json
  apps/www/public/r/animated-theme-toggler-star-demo.json
  apps/www/public/r/animated-theme-toggler-triangle-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-diamond-demo.tsx
  apps/www/registry/example/animated-theme-toggler-hexagon-demo.tsx
  apps/www/registry/example/animated-theme-toggler-rectangle-demo.tsx
  apps/www/registry/example/animated-theme-toggler-triangle-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(docs): improve props table formatting for animated theme toggler
  apps/www/content/docs/components/animated-theme-toggler.mdx
Due: none

fix(dia-text-reveal): declare motion dependency for CLI install
  apps/www/public/r/dia-text-reveal.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

feat(dia-text-reveal): add reduced-motion support and forward span motion props
  apps/www/public/llms-full.txt
  apps/www/public/r/dia-text-reveal.json
  apps/www/registry/magicui/dia-text-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(registry): update dia-text-reveal demo-3 description
  apps/www/public/r/dia-text-reveal-demo-3.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

feat(dia-text-reveal): add Dia Text Reveal component with examples an… (#948)
  apps/www/config/docs.ts
  apps/www/content/docs/components/dia-text-reveal.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/dia-text-reveal-demo-2.json
  apps/www/public/r/dia-text-reveal-demo-3.json
  apps/www/public/r/dia-text-reveal-demo-4.json
  apps/www/public/r/dia-text-reveal-demo.json
  apps/www/public/r/dia-text-reveal.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/dia-text-reveal-demo-2.tsx
  apps/www/registry/example/dia-text-reveal-demo-3.tsx
  apps/www/registry/example/dia-text-reveal-demo-4.tsx
  apps/www/registry/example/dia-text-reveal-demo.tsx
  apps/www/registry/magicui/dia-text-reveal.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor: remove unused title prop from ComponentSource
  apps/www/components/component-source.tsx
Due: typecheck, lint:fix, format:fix:silent

refactor: fall back to src path as title in ComponentSource
  apps/www/components/component-source.tsx
Due: typecheck, lint:fix, format:fix:silent

docs: Improve ComponentSource title usage in docs (#956)
  apps/www/components/component-source.tsx
  apps/www/content/docs/components/marquee.mdx
Due: typecheck, lint:fix, format:fix:silent

feat: add kinetic-text component
  apps/www/config/docs.ts
  apps/www/content/docs/components/kinetic-text.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/kinetic-text-demo.json
  apps/www/public/r/kinetic-text.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/kinetic-text-demo.tsx
  apps/www/registry/magicui/kinetic-text.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: address pr feedback
  apps/www/public/llms-full.txt
  apps/www/public/r/kinetic-text.json
  apps/www/registry/magicui/kinetic-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(mcp): add CODEX tab and installation instructions to documentation
  apps/www/content/docs/mcp.mdx
Due: none

docs(mcp): correct capitalization of CODEX tab in documentation
  apps/www/content/docs/mcp.mdx
Due: none

fix(animated-theme-toggler): scope view-transition CSS to theme toggle
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(animated-theme-toggler): expose square variant with demo
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-square-demo.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-square-demo.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(animated-theme-toggler): add new shape variants and examples (#947)
  apps/www/content/docs/components/animated-theme-toggler.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/animated-theme-toggler-demo.json
  apps/www/public/r/animated-theme-toggler-diamond-demo.json
  apps/www/public/r/animated-theme-toggler-hexagon-demo.json
  apps/www/public/r/animated-theme-toggler-rectangle-demo.json
  apps/www/public/r/animated-theme-toggler-square-demo.json
  apps/www/public/r/animated-theme-toggler-star-demo.json
  apps/www/public/r/animated-theme-toggler-triangle-demo.json
  apps/www/public/r/animated-theme-toggler.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/animated-theme-toggler-diamond-demo.tsx
  apps/www/registry/example/animated-theme-toggler-hexagon-demo.tsx
  apps/www/registry/example/animated-theme-toggler-rectangle-demo.tsx
  apps/www/registry/example/animated-theme-toggler-square-demo.tsx
  apps/www/registry/example/animated-theme-toggler-star-demo.tsx
  apps/www/registry/example/animated-theme-toggler-triangle-demo.tsx
  apps/www/registry/magicui/animated-theme-toggler.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: correct component source
  apps/www/content/docs/components/kinetic-text.mdx
Due: none

fix: undo backlight sidebar move
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

feat: add curtain-loader component and update registry configuration
  apps/www/config/docs.ts
  apps/www/content/docs/components/curtain-loader.mdx
  apps/www/content/showcase/aniketdesign.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/curtain-loader-demo.json
  apps/www/public/r/curtain-loader.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/public/showcase/aniketdesign.png
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/curtain-loader-demo.tsx
  apps/www/registry/magicui/curtain-loader.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  package.json
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

update: documentation format fix for Curtain Loader component
  apps/www/content/docs/components/curtain-loader.mdx
Due: none

feat: add ClickSpark component and corresponding documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/click-spark.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/click-spark-demo.json
  apps/www/public/r/click-spark.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/click-spark-demo.tsx
  apps/www/registry/magicui/click-spark.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add ClickSpark demo component to registry
  apps/www/registry/example/click-spark-demo.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs: add documentation for Click Spark component
  apps/www/content/docs/components/click-spark.mdx
Due: none
