Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

docs: register rainbow cursor demo
  apps/www/registry/registry-examples.ts
Due: typecheck, lint:fix, format:fix:silent

chore: update generated rainbow cursor index
  apps/www/registry/__index__.tsx
Due: typecheck, lint:fix, format:fix:silent

chore: update source registry manifest for rainbow cursor
  apps/www/registry.json
Due: typecheck, lint:fix, format:fix:silent

chore: update public registry manifest for rainbow cursor
  apps/www/public/registry.json
Due: typecheck, lint:fix, format:fix:silent

chore: update distribution registry for rainbow cursor
  apps/www/public/r/registry.json
Due: typecheck, lint:fix, format:fix:silent

chore: add rainbow cursor installation artifact
  apps/www/public/r/rainbow-cursor.json
Due: typecheck, lint:fix, format:fix:silent

chore: add rainbow cursor demo artifact
  apps/www/public/r/rainbow-cursor-demo.json
Due: typecheck, lint:fix, format:fix:silent

docs: add rainbow cursor to llms index
  apps/www/public/llms.txt
Due: none

docs: add rainbow cursor to full llms reference
  apps/www/public/llms-full.txt
Due: none

fix(www): include showcase pages in sitemap and drop header-based domain
  apps/www/app/sitemap.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): make mdx h2 id generation handle nested heading content
  apps/www/mdx-components.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): drop showcase pages from sitemap
  apps/www/app/sitemap.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): use siteConfig.url in sitemap and restore static generation (#1015)
  apps/www/app/sitemap.ts
Due: typecheck, lint:fix, format:fix:silent

feat(bridged-carousel): add connected expanding card carousel with dynamic svg bridges
  apps/www/config/docs.ts
  apps/www/content/docs/components/bridged-carousel.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/bridged-carousel-demo-2.json
  apps/www/public/r/bridged-carousel-demo.json
  apps/www/public/r/bridged-carousel.json
  apps/www/public/r/file-tree.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/bridged-carousel-demo-2.tsx
  apps/www/registry/example/bridged-carousel-demo.tsx
  apps/www/registry/magicui/bridged-carousel.tsx
  apps/www/registry/magicui/file-tree.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): fix fileName lookup in rehype-component's ComponentSource
  apps/www/lib/rehype-component.ts
Due: typecheck, lint:fix, format:fix:silent

fix(ripple-button): clean up overlapping ripples independently
  apps/www/public/llms-full.txt
  apps/www/public/r/ripple-button.json
  apps/www/registry/magicui/ripple-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(cool-mode): stop particle generation during cleanup
  apps/www/public/llms-full.txt
  apps/www/public/r/cool-mode.json
  apps/www/registry/magicui/cool-mode.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
