Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

fix(magic-card): add suppressHydrationWarning and use background instead of backgroundImage
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add theme-aware blend mode with SSR-safe theme detection
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add z-index layering and screen blend mode for orb glow
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(magic-card): use discriminated union for type-safe mode props
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): add missing next-themes dependency for magic-card
  apps/www/public/r/magic-card.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/registry-ui.ts
Due: typecheck, lint:fix, format:fix:silent

fix(magic-card): ensure orb glow layer is visible with valid z-index
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(magic-card-demo2): use registry import for AvatarCircles
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/registry/example/magic-card-demo2.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(magic-card-demo2): replace Icons.gitHub with inline SVG
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/registry/example/magic-card-demo2.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(hyper-text): use static motion elements and remove motionComponent prop
  apps/www/content/docs/components/hyper-text.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/hyper-text.json
  apps/www/registry/magicui/hyper-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(text-animate): use static motion elements and remove motionComponent prop
  apps/www/content/docs/components/text-animate.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/text-animate.json
  apps/www/registry/magicui/text-animate.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(line-shadow-text): use static motion elements and remove motionComponent prop
  apps/www/content/docs/components/line-shadow-text.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/line-shadow-text.json
  apps/www/registry/magicui/line-shadow-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(typing-animation): use static motion elements and remove motionComponent prop
  apps/www/content/docs/components/typing-animation.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(terminal): use static motion elements and remove motionComponent prop
  apps/www/content/docs/components/terminal.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/terminal.json
  apps/www/registry/magicui/terminal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(typing-animation): use static motion elements and remove motionComponent prop
  apps/www/public/llms-full.txt
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: fallback for missing startViewTransition API
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

style(animated-theme-toggler): remove extra whitespace
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
Due: typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): add defensive check for ViewTransition.ready
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Fix AnimatedThemeToggler crash on Firefox (View Transitions API fallback) (#879)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor: use static motion elements and remove motionComponent prop (#905)
  apps/www/content/docs/components/hyper-text.mdx
  apps/www/content/docs/components/line-shadow-text.mdx
  apps/www/content/docs/components/terminal.mdx
  apps/www/content/docs/components/text-animate.mdx
  apps/www/content/docs/components/typing-animation.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/hyper-text.json
  apps/www/public/r/line-shadow-text.json
  apps/www/public/r/terminal.json
  apps/www/public/r/text-animate.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/hyper-text.tsx
  apps/www/registry/magicui/line-shadow-text.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/text-animate.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(hero-video-dialog): set top margin of iframe to 0 to prevent video overflowing outside the box
  apps/www/public/llms-full.txt
  apps/www/public/r/hero-video-dialog.json
  apps/www/registry/magicui/hero-video-dialog.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: ripple button effect
  apps/www/registry/magicui/ripple-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(hero-video-dialog): set top margin of iframe to 0 to prevent video overflowing outside the box (#907)
  apps/www/public/llms-full.txt
  apps/www/public/r/hero-video-dialog.json
  apps/www/registry/magicui/hero-video-dialog.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

style(magic-card): align magic card border radii with default card and add exit animations (#819)
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(skills): add magic-ui SKILL.md and references
  skills/magic-ui/SKILL.md
  skills/magic-ui/references/components.md
  skills/magic-ui/references/recipes.md
Due: none

fix: add transform scale to ripple effect
  apps/www/registry/magicui/ripple-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): correct mobile viewport-based transition radius in animated-theme-toggle
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: apply code style and update build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/ripple-button.json
  apps/www/registry/magicui/ripple-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: ripple button effect (#909)
  apps/www/public/llms-full.txt
  apps/www/public/r/ripple-button.json
  apps/www/registry/magicui/ripple-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): align useEffect cleanup returns with consistent-return
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/public/r/animated-list.json
  apps/www/public/r/cool-mode.json
  apps/www/public/r/flickering-grid.json
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/public/r/hyper-text.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/number-ticker.json
  apps/www/public/r/pointer.json
  apps/www/public/r/ripple-button.json
  apps/www/public/r/scroll-based-velocity.json
  apps/www/public/r/terminal.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/cool-mode.tsx
  apps/www/registry/magicui/flickering-grid.tsx
  apps/www/registry/magicui/highlighter.tsx
  apps/www/registry/magicui/hyper-text.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/number-ticker.tsx
  apps/www/registry/magicui/pointer.tsx
  apps/www/registry/magicui/ripple-button.tsx
  apps/www/registry/magicui/scroll-based-velocity.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(registry): resolve consistent-return in smooth-cursor, tweet-card
  apps/www/public/llms-full.txt
  apps/www/public/r/smooth-cursor.json
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/smooth-cursor.tsx
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: add PR template with description, motivation, and screenshots sections
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: update example PR link in CONTRIBUTING
  CONTRIBUTING.md
Due: none

chore: add PR template with description, motivation, and screenshots sections (#913)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: resolve consistent-return issues across Magic UI components (#912)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/public/r/animated-list.json
  apps/www/public/r/cool-mode.json
  apps/www/public/r/flickering-grid.json
  apps/www/public/r/highlighter-demo.json
  apps/www/public/r/highlighter.json
  apps/www/public/r/hyper-text.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/number-ticker.json
  apps/www/public/r/pointer.json
  apps/www/public/r/ripple-button.json
  apps/www/public/r/scroll-based-velocity.json
  apps/www/public/r/smooth-cursor.json
  apps/www/public/r/terminal.json
  apps/www/public/r/tweet-card.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/cool-mode.tsx
  apps/www/registry/magicui/flickering-grid.tsx
  apps/www/registry/magicui/highlighter.tsx
  apps/www/registry/magicui/hyper-text.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/number-ticker.tsx
  apps/www/registry/magicui/pointer.tsx
  apps/www/registry/magicui/ripple-button.tsx
  apps/www/registry/magicui/scroll-based-velocity.tsx
  apps/www/registry/magicui/smooth-cursor.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/tweet-card.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

ci: enforce registry artifact drift check in code-check workflow
  .github/workflows/code-check.yml
Due: none

ci: detect untracked registry artifacts in drift check
  .github/workflows/code-check.yml
Due: none

ci: upgrade checkout to v6
  .github/workflows/code-check.yml
Due: none

ci: enforce registry artifact drift check in code-check workflow (#914)
  .github/workflows/code-check.yml
Due: none
