Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

build:registry:
  run: pnpm build:registry && git add --all
  stage_fixed: true

typecheck:
  run: pnpm typecheck
  stage_fixed: true

lint:fix:
  run: pnpm lint:fix
  stage_fixed: true

format:fix:silent:
  run: pnpm format:fix:silent
  stage_fixed: true

fix(interactive-hover-button): add justify-center for content alignment
  apps/www/public/llms-full.txt
  apps/www/public/r/interactive-hover-button.json
  apps/www/registry/magicui/interactive-hover-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: showcase card links not opening on click (#829)
  apps/www/components/sections/showcase.tsx
  apps/www/source.config.ts
Due: typecheck, lint:fix, format:fix:silent

fix(interactive-hover-button): add justify-center for content alignment (#900)
  apps/www/public/llms-full.txt
  apps/www/public/r/interactive-hover-button.json
  apps/www/registry/magicui/interactive-hover-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(registry): mark MotionProps as type imports
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/hyper-text.tsx
  apps/www/registry/magicui/line-shadow-text.tsx
  apps/www/registry/magicui/scroll-progress.tsx
  apps/www/registry/magicui/text-animate.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/registry/magicui/word-rotate.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(registry): mark MotionProps as type imports
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-list.json
  apps/www/public/r/hyper-text.json
  apps/www/public/r/line-shadow-text.json
  apps/www/public/r/pointer.json
  apps/www/public/r/scroll-progress.json
  apps/www/public/r/terminal.json
  apps/www/public/r/text-animate.json
  apps/www/public/r/typing-animation.json
  apps/www/public/r/word-rotate.json
  apps/www/registry/magicui/scroll-progress.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/text-animate.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(config): remove duplicate href definition in showcase schema
  apps/www/source.config.ts
Due: typecheck, lint:fix, format:fix:silent

Update import statement for MotionProps type (#891)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-list.json
  apps/www/public/r/hyper-text.json
  apps/www/public/r/line-shadow-text.json
  apps/www/public/r/scroll-progress.json
  apps/www/public/r/terminal.json
  apps/www/public/r/text-animate.json
  apps/www/public/r/typing-animation.json
  apps/www/public/r/word-rotate.json
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/hyper-text.tsx
  apps/www/registry/magicui/line-shadow-text.tsx
  apps/www/registry/magicui/scroll-progress.tsx
  apps/www/registry/magicui/terminal.tsx
  apps/www/registry/magicui/text-animate.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/registry/magicui/word-rotate.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Update import statement for ComponentPropsWithoutRef
  apps/www/registry/magicui/number-ticker.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore(registry): use type-only React imports in magicui components
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-gradient-text.json
  apps/www/public/r/animated-grid-pattern.json
  apps/www/public/r/animated-list.json
  apps/www/public/r/animated-shiny-text.json
  apps/www/public/r/bento-grid.json
  apps/www/public/r/marquee.json
  apps/www/public/r/number-ticker.json
  apps/www/public/r/particles.json
  apps/www/public/r/ripple.json
  apps/www/public/r/shimmer-button.json
  apps/www/public/r/spinning-text.json
  apps/www/public/r/text-reveal.json
  apps/www/registry/magicui/animated-gradient-text.tsx
  apps/www/registry/magicui/animated-grid-pattern.tsx
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/animated-shiny-text.tsx
  apps/www/registry/magicui/bento-grid.tsx
  apps/www/registry/magicui/marquee.tsx
  apps/www/registry/magicui/number-ticker.tsx
  apps/www/registry/magicui/particles.tsx
  apps/www/registry/magicui/ripple.tsx
  apps/www/registry/magicui/shimmer-button.tsx
  apps/www/registry/magicui/spinning-text.tsx
  apps/www/registry/magicui/text-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

Update import statement for ComponentPropsWithoutRef (#892)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-gradient-text.json
  apps/www/public/r/animated-grid-pattern.json
  apps/www/public/r/animated-list.json
  apps/www/public/r/animated-shiny-text.json
  apps/www/public/r/bento-grid.json
  apps/www/public/r/marquee.json
  apps/www/public/r/number-ticker.json
  apps/www/public/r/particles.json
  apps/www/public/r/ripple.json
  apps/www/public/r/shimmer-button.json
  apps/www/public/r/spinning-text.json
  apps/www/public/r/text-reveal.json
  apps/www/registry/magicui/animated-gradient-text.tsx
  apps/www/registry/magicui/animated-grid-pattern.tsx
  apps/www/registry/magicui/animated-list.tsx
  apps/www/registry/magicui/animated-shiny-text.tsx
  apps/www/registry/magicui/bento-grid.tsx
  apps/www/registry/magicui/marquee.tsx
  apps/www/registry/magicui/number-ticker.tsx
  apps/www/registry/magicui/particles.tsx
  apps/www/registry/magicui/ripple.tsx
  apps/www/registry/magicui/shimmer-button.tsx
  apps/www/registry/magicui/spinning-text.tsx
  apps/www/registry/magicui/text-reveal.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: use import type for COBEOptions
  apps/www/registry/magicui/globe.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: regenerate build artifacts
  apps/www/public/llms-full.txt
  apps/www/public/r/globe.json
Due: typecheck, lint:fix, format:fix:silent

fix: use `import type` for COBEOptions (#890)
  apps/www/public/llms-full.txt
  apps/www/public/r/globe.json
  apps/www/registry/magicui/globe.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: adjust CopyButton position when title is missing (#876)
  apps/www/components/component-source.tsx
Due: typecheck, lint:fix, format:fix:silent

refactor(blur-fade): use type-only imports from motion/react
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/registry/magicui/blur-fade.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: add conditional filter transition to BlurFade (#790 fix)
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/registry/magicui/blur-fade.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(blur-fade): extract getFilter helper for variant filter extraction
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/registry/magicui/blur-fade.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: add conditional filter transition to BlurFade (#790 fix) (#899)
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/registry/magicui/blur-fade.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: flickering grid edge coverage with Math.ceil
  apps/www/public/llms-full.txt
  apps/www/public/r/flickering-grid.json
  apps/www/registry/magicui/flickering-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: flickering grid edge coverage with Math.ceil (#839)
  apps/www/public/llms-full.txt
  apps/www/public/r/flickering-grid.json
  apps/www/registry/magicui/flickering-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor: prefer-nullish-coalescing
  apps/www/components/blog/table-of-contents.tsx
  apps/www/components/code-tabs.tsx
  apps/www/components/docs-sidebar.tsx
  apps/www/lib/rehype-component.ts
  apps/www/mdx-components.tsx
Due: typecheck, lint:fix, format:fix:silent

refactor: prefer-nullish-coalescing
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/og/route.tsx
  apps/www/lib/rehype-component.ts
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/public/r/client-tweet-card.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/tweet-card.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/__index__.tsx
  apps/www/registry/magicui/blur-fade.tsx
  apps/www/registry/magicui/client-tweet-card.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/tweet-card.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/scripts/build-registry.mts
Due: build:registry, typecheck, lint:fix, format:fix:silent

style: fix rehype-component prettier formatting
  apps/www/lib/rehype-component.ts
Due: typecheck, lint:fix, format:fix:silent

refactor: prefer-nullish-coalescing (#901)
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/og/route.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/components/code-tabs.tsx
  apps/www/components/docs-sidebar.tsx
  apps/www/lib/rehype-component.ts
  apps/www/mdx-components.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/blur-fade.json
  apps/www/public/r/client-tweet-card.json
  apps/www/public/r/icon-cloud.json
  apps/www/public/r/tweet-card.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/__index__.tsx
  apps/www/registry/magicui/blur-fade.tsx
  apps/www/registry/magicui/client-tweet-card.tsx
  apps/www/registry/magicui/icon-cloud.tsx
  apps/www/registry/magicui/tweet-card.tsx
  apps/www/registry/magicui/typing-animation.tsx
  apps/www/scripts/build-registry.mts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(www): guard github/discord counters against invalid API responses
  apps/www/components/discord-link.tsx
  apps/www/components/github-link.tsx
Due: typecheck, lint:fix, format:fix:silent

style: apply prettier to discord-link and github-link
  apps/www/components/discord-link.tsx
  apps/www/components/github-link.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): guard github/discord counters against invalid API responses (#902)
  apps/www/components/discord-link.tsx
  apps/www/components/github-link.tsx
Due: typecheck, lint:fix, format:fix:silent

fix(www): prevent build failure when NEXT_PUBLIC_APP_URL is missing
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/app/(marketing)/showcase/[...slug]/page.tsx
  apps/www/lib/utils.ts
Due: typecheck, lint:fix, format:fix:silent

fix(utils): validate and normalize getBaseUrl with fallback
  apps/www/lib/utils.ts
Due: typecheck, lint:fix, format:fix:silent

fix(www): prevent build failure when NEXT_PUBLIC_APP_URL is missing (#903)
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/app/(marketing)/showcase/[...slug]/page.tsx
  apps/www/lib/utils.ts
Due: typecheck, lint:fix, format:fix:silent

fix(docs): align usage imports to components/ui paths
  apps/www/content/docs/components/magic-card.mdx
  apps/www/content/docs/components/pixel-image.mdx
  apps/www/content/docs/components/shine-border.mdx
  apps/www/content/docs/components/video-text.mdx
Due: none

fix(docs): align usage imports to components/ui paths (#904)
  apps/www/content/docs/components/magic-card.mdx
  apps/www/content/docs/components/pixel-image.mdx
  apps/www/content/docs/components/shine-border.mdx
  apps/www/content/docs/components/video-text.mdx
Due: none

fix(docs): align prev/next navigation with sidebar order (#887)
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

docs: use CLI-safe MCP alias in config examples (#878)
  apps/www/content/docs/mcp.mdx
  apps/www/public/mcp.json
Due: typecheck, lint:fix, format:fix:silent

chore: update line height in ScrollBasedVelocityDemo and TypingAnimation components (#882)
  apps/www/public/llms-full.txt
  apps/www/public/r/scroll-based-velocity-demo.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/example/scroll-based-velocity-demo.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

chore: update line height in ScrollBasedVelocityDemo and TypingAnimation components (#882) (#906)
  apps/www/public/llms-full.txt
  apps/www/public/r/scroll-based-velocity-demo.json
  apps/www/public/r/typing-animation.json
  apps/www/registry/example/scroll-based-velocity-demo.tsx
  apps/www/registry/magicui/typing-animation.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(magic-card): add orb mode with animated glow effect
  apps/www/public/llms-full.txt
  apps/www/public/r/magic-card.json
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

refactor(magic-card): improve orb mode animation with spring-based opacity
  apps/www/registry/magicui/magic-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(magic-card): improve props table formatting
  apps/www/content/docs/components/magic-card.mdx
Due: none

feat(magic-card): add orb mode example and update documentation
  apps/www/content/docs/components/magic-card.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/magic-card-demo-2.json
  apps/www/public/r/magic-card.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/magic-card-demo2.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

Path conditions:
  build:registry: any of: **/registry/**/*.{ts,tsx}
  typecheck: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint:fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format:fix:silent: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
