Repository magicuidesign/magicui: changes, and which lefthook commands are due for each by the changed paths.
All: build:registry, typecheck, lint:fix, format:fix:silent

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    build:registry:
      glob: "**/registry/**/*.{ts,tsx}"
      run: pnpm build:registry && git add --all
      stage_fixed: true
    typecheck:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm typecheck
      stage_fixed: true
    lint:fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:fix
      stage_fixed: true
    format:fix:silent:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm format:fix:silent
      stage_fixed: true

commit-msg:
  commands:
    "lint commit message":
      run: npx --no -- commitlint --edit "$1"

fix: improve accessibility of animated-theme-toggler to pass audit on lighthouse
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: build
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
Due: typecheck, lint:fix, format:fix:silent

fix(animated-theme-toggler): improve accessibility (#820)
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-theme-toggler.json
  apps/www/registry/magicui/animated-theme-toggler.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat: add liquid-metal-button component
  apps/www/config/docs.ts
  apps/www/content/docs/components/liquid-metal-button.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/liquid-metal-button-demo.json
  apps/www/public/r/liquid-metal-button.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/liquid-metal-button-demo.tsx
  apps/www/registry/magicui/liquid-metal-button.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: prevent infinite re-render loop in AnimatedGridPattern component
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: remove sample
  apps/www/content/blog/sample-article-title-for-testing.mdx
Due: none

feat: implement complete GoldenLA Directory Platform with Supabase and AI integration
  CLAUDE.md
  app/(admin)/admin/dashboard/page.tsx
  app/api/admin/submissions/route.ts
  components/admin-layout.tsx
  components/csv-upload-processor.tsx
  components/listings-manager.tsx
  components/submissions-manager.tsx
  documentation/app_flow_document.md
  documentation/app_flowchart.md
  documentation/backend_structure_document.md
  documentation/frontend_guidelines_document.md
  documentation/project_requirements_document.md
  documentation/security_guideline_document.md
  documentation/tech_stack_document.md
  lib/ai-enrichment.ts
  lib/security-middleware.ts
  lib/security.ts
  lib/supabase/client.ts
  lib/supabase/server.ts
  middleware.ts
  supabase/README.md
  supabase/config.json
  supabase/functions/ai-enrichment/deno.json
  supabase/functions/ai-enrichment/index.ts
  supabase/migrations/20240115000001_initial_schema.sql
  supabase/migrations/20240115000002_rls_policies.sql
  supabase/migrations/20240115000003_enhanced_security.sql
  supabase/seed.sql
  types/database.ts
Due: typecheck, lint:fix, format:fix:silent

fix: build
  apps/www/content/blog/how-to-create-drop-down-menu.mdx
Due: none

fix: showcase card links not opening on click
  apps/www/components/sections/showcase.tsx
  apps/www/source.config.ts
Due: typecheck, lint:fix, format:fix:silent

fix(animated-grid-pattern): prevent infinite re-render causing docs freeze
  apps/www/app/(tests)/test/animated-grid-pattern/page.tsx
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

perf(registry): use native SVG animations for animated-grid-pattern and improve ResizeObserver cleanup
  apps/www/content/blog/tailwind-css-button.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/animated-grid-pattern.json
  apps/www/registry/magicui/animated-grid-pattern.tsx
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

perf(registry): switch animated-grid-pattern to native SVG <animate> and disconnect ResizeObserver
  apps/www/registry/magicui/animated-grid-pattern.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

[bug]: text highlighter was drawn multiple times when color change Fixes #836
  apps/www/registry/magicui/highlighter.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: flickering grid edge coverage with Math.ceil
  apps/www/content/blog/next-js-getting-started.mdx
  apps/www/public/llms-full.txt
  apps/www/public/r/flickering-grid.json
  apps/www/registry/magicui/flickering-grid.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: blogs mdx and add smooth-cursor analytics via npm
  apps/www/content/blog/color-theory-for-web-design.mdx
  apps/www/content/blog/framer-motion-react.mdx
  apps/www/content/blog/installing-tailwind-css.mdx
  apps/www/content/blog/next-js-getting-started.mdx
  apps/www/content/blog/tailwind-css-button.mdx
  apps/www/content/blog/tailwind-css-themes.mdx
  apps/www/content/docs/components/smooth-cursor.mdx
  apps/www/package.json
  apps/www/public/llms-full.txt
  apps/www/public/r/registry.json
  apps/www/public/r/smooth-cursor.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/magicui/smooth-cursor.tsx
  apps/www/registry/registry-ui.ts
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: correct code formatting in Next.js tutorial for clarity
  apps/www/content/blog/next-js-getting-started.mdx
Due: none

fix: improve code formatting for consistency across blog articles
  apps/www/content/blog/color-theory-for-web-design.mdx
  apps/www/content/blog/framer-motion-react.mdx
  apps/www/content/blog/installing-tailwind-css.mdx
  apps/www/content/blog/next-js-getting-started.mdx
  apps/www/content/blog/tailwind-css-button.mdx
  apps/www/content/blog/tailwind-css-themes.mdx
  apps/www/content/docs/components/smooth-cursor.mdx
Due: none

fix: add 'cdn.outrank.so' to allowed image domains in Next.js config
  apps/www/next.config.mjs
Due: typecheck, lint:fix, format:fix:silent

feat(components): add infinity text component with demo and documentation
  apps/www/config/docs.ts
  apps/www/content/docs/components/infinity-text.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/infinity-text-demo.json
  apps/www/public/r/infinity-text.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/infinity-text-demo.tsx
  apps/www/registry/magicui/infinity-text.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
  apps/www/styles/globals.css
  package.json
  pnpm-lock.yaml
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(interactive-hover-button): add justify-center for content alignment
  apps/www/public/llms-full.txt
  apps/www/public/r/interactive-hover-button.json
  apps/www/registry/magicui/interactive-hover-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix(interactive-hover-button): add justify-center for content alignment and regenerate registry files
  apps/www/public/llms-full.txt
  apps/www/public/r/interactive-hover-button.json
  apps/www/registry/magicui/interactive-hover-button.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(showcase): add PulpSense
  apps/www/content/showcase/pulpsense.mdx
  apps/www/public/showcase/pulpsense.png
Due: none

fix(tweetcard): prevent avatar from shrinking in flex layout
  apps/www/public/llms-full.txt
  apps/www/public/r/tweet-card.json
  apps/www/registry/magicui/tweet-card.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: Pointer show up at init time
  apps/www/registry/magicui/pointer.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: fix build
  apps/www/content/blog/color-theory-for-web-design.mdx
  apps/www/content/blog/create-next-js-app.mdx
  apps/www/content/blog/creating-next-js-app.mdx
  apps/www/content/blog/dropdown-in-react-js.mdx
  apps/www/content/blog/framer-motion-react.mdx
  apps/www/content/blog/install-tailwind-css.mdx
  apps/www/content/blog/installing-tailwind-css.mdx
  apps/www/content/blog/next-js-create-app.mdx
  apps/www/content/blog/next-js-getting-started.mdx
  apps/www/content/blog/next-js-project-structure.mdx
  apps/www/content/blog/next-js-tailwind.mdx
  apps/www/content/blog/search-input-with-icon.mdx
  apps/www/content/blog/sidebar-for-website.mdx
  apps/www/content/blog/tailwind-css-button.mdx
  apps/www/content/blog/tailwind-css-themes.mdx
  apps/www/content/blog/tailwind-landing-page-templates.mdx
  apps/www/content/blog/text-loading-bar.mdx
Due: none

fix: minor blogs design change and mobile floating toc
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/components/blog/mobile-toc.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/content/blog/nextjs-website-template.mdx
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/mdx-components.tsx
  apps/www/styles/globals.css
Due: typecheck, lint:fix, format:fix:silent

feat: adding /blog in the nav
  apps/www/app/(blog)/blog/page.tsx
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

chore: code formatting and cleanup
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/mdx-components.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: clean up code formatting and update dependencies in blog posts
  apps/www/content/blog/installing-tailwind-css.mdx
  apps/www/content/blog/next-js-getting-started.mdx
  apps/www/content/blog/tailwind-css-button.mdx
  pnpm-lock.yaml
Due: none

Update image domains in next.config.mjs
  apps/www/next.config.mjs
Due: typecheck, lint:fix, format:fix:silent

refactor: format code
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/mdx-components.tsx
Due: typecheck, lint:fix, format:fix:silent

fix: remove /blog from nav
  apps/www/config/docs.ts
Due: typecheck, lint:fix, format:fix:silent

feat(dotted-map): add generic types and custom marker overlay support
  apps/www/public/llms-full.txt
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

feat(dotted-map): add custom marker overlay example
  apps/www/public/llms-full.txt
  apps/www/registry/example/dotted-map-demo.tsx
  apps/www/registry/magicui/dotted-map.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent

docs(dotted-map): update documentation for generic types and overlay support
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/r/dotted-map-demo.json
  apps/www/public/r/dotted-map.json
Due: typecheck, lint:fix, format:fix:silent

feat(dotted-map): add pulse animation demo example
  apps/www/content/docs/components/dotted-map.mdx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/dotted-map-demo-3.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/dotted-map-demo-3.tsx
  apps/www/registry/registry-examples.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: component list page gap issue
  apps/www/app/(docs)/docs/[[...slug]]/page.tsx
  apps/www/components/components-list.tsx
Due: typecheck, lint:fix, format:fix:silent

feat(component): introduce glare-hover component with demo examples
  apps/www/app/(blog)/blog/[...slug]/page.tsx
  apps/www/app/(blog)/blog/page.tsx
  apps/www/components/blog/table-of-contents.tsx
  apps/www/config/docs.ts
  apps/www/content/blog/typescript-vs-javascript-differences.mdx
  apps/www/content/docs/components/glare-hover.mdx
  apps/www/mdx-components.tsx
  apps/www/public/llms-full.txt
  apps/www/public/llms.txt
  apps/www/public/r/glare-hover-demo-blue.json
  apps/www/public/r/glare-hover-demo-purple.json
  apps/www/public/r/glare-hover-demo.json
  apps/www/public/r/glare-hover.json
  apps/www/public/r/registry.json
  apps/www/public/registry.json
  apps/www/registry.json
  apps/www/registry/__index__.tsx
  apps/www/registry/example/glare-hover-demo-blue.tsx
  apps/www/registry/example/glare-hover-demo-purple.tsx
  apps/www/registry/example/glare-hover-demo.tsx
  apps/www/registry/magicui/glare-hover.tsx
  apps/www/registry/registry-examples.ts
  apps/www/registry/registry-ui.ts
Due: build:registry, typecheck, lint:fix, format:fix:silent

fix: updated sidebar CTA
  apps/www/components/sidebar-cta.tsx
  apps/www/public/llms-full.txt
  apps/www/public/r/aurora-text.json
  apps/www/registry/magicui/aurora-text.tsx
Due: build:registry, typecheck, lint:fix, format:fix:silent
